.content{
    padding-top: 44px;
}
.center{
    padding-top: 28px;
    padding-bottom: 55px;
}
.title {
    margin-bottom: 22px;
}
.input-text{
    height: 49px;
    margin-bottom: 21px;
}
.verify{
    height: 52px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 21px;
    width: 62.5%;
    margin-left: 90px;
    display: flex;
}
.btn-submit{
    height: 48px;
    margin-top: 46px;
    width: 340px;
    background: #3184C6;
}
.input-verify {
    flex: 1;
    background: none;
}
.btn-send {
    width: 111px;
    height: 52px;
    font-size: 16px;
    margin-left: 8px;
    box-shadow: none;
    background: #3184C6;
    border-radius: 0;
    line-height: 52px;
}
